.header{
  background-color: rgba(241,99,95,0.2);
  border-top: 3px solid rgb(255,198,82);
  color: rgb(238,62,58);
  box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
}

.header h3{
  font-weight: bolder;
}


.content{
  background-color: rgba(255,198,82,0.3);
  padding-top: 30px;
  padding-bottom: 30px;
}

.circle-container{
  padding: 5vw;
}
.circle{
  min-height: 100px;
  height: 30vw;
  max-height: 150px;
  min-width: 100px;
  width: 30vw;
  max-width: 150px;
  background-color: black;
  border-radius: 200px;
  clear: both;
  margin: auto;
  background-color: rgb(241,99,95);
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}

@media only screen and (min-width : 768px) {
  .circle-container:nth-child(even) .circle{
    background-color: rgb(255,198,82);
  }
}

@media only screen and (max-width : 768px) {
  .circle-container:nth-child(even) .circle{
    float: left;
  }
  .circle-container:nth-child(odd) .circle{
    float: right;
  }
  .circle-container:nth-child(2) .circle{
    background-color: rgb(255,198,82);
  }
  .circle-container:nth-child(3) .circle{
    background-color: rgb(255,198,82);
  }
}


