<!-- Header -->
<div class="header container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>How does it work?</h3>
        </div>
      </div>
    </div>
</div>

<div class="content container-fluid">
    <div class="container">
      <div class="row">
        <div class="circle-container col-xs-6 col-sm-3">
          <div class="circle">
            <span class="glyphicon glyphicon-play"></span>
          </div>
          <div class="col-xs-12">
            <span class="info">1. Hit Start</span>
          </div>
        </div>
        <div class="circle-container col-xs-6 col-sm-3">
          <div class="circle">
            <span class="glyphicon glyphicon-time"></span>
          </div>
          <div class="col-xs-12">
            <span class="info">2. Work!</span>
          </div>
        </div>
        <div class="circle-container col-xs-6 col-sm-3">
          <div class="circle">
            <span class="glyphicon glyphicon-pause"></span>
          </div>
          <div class="col-xs-12">
            <span class="info">3. Hit Pause</span>
          </div>
        </div>
        <div class="circle-container col-xs-6 col-sm-3">
          <div class="circle">
            <span class="glyphicon glyphicon-stats"></span>
          </div>
          <div class="col-xs-12">
            <span class="info">4. View Stats</span>
          </div>
        </div>
      </div>
    </div>
</div>

