<div class="container-fluid">
  <div class="container">
    <div class="row">
      <!-- Used technologies -->
      <div class="col-xs-12 col-sm-4">
        <h4>Technologies</h4>
        <div class="col-xs-6">
          <h6>Frontend</h6>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>TypeScript</li>
            <li>Angular 2</li>
            <li>Bootstrap</li>
          </ul>
        </div>
        <div class="col-xs-6">
          <h6>Backend</h6>
          <ul>
            <li>Node</li>
            <li>Express</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>
      <!-- Explanation -->
      <div class="col-xs-12 col-sm-4">
        <h4>Project</h4>
        <p>This project was made as part of a challenge from the 
        <a href="https://forum.freecodecamp.com/t/computer-frontend-web-development-challenge-november-16-to-26/55986">FCC Forum</a>. 
        It is designed and coded by Benjamin van Zwienen.<p>
      </div>
      <!-- Link to code -->
      <div class="code-links col-xs-12 col-sm-4">
        <h4>Code</h4>
        <p>Code is available on GitHub:</p>
          <a href="https://github.com/BenGitter/fcc-challenge-angular/tree/master/Front-End">
            <button class="col-xs-5 btn btn-default">Frontend</button>
          </a>
          <div class="col-xs-1"></div>
          <a href="https://github.com/BenGitter/fcc-challenge-angular/tree/master/Back-End">
            <button class="col-xs-5 btn btn-default">Backend</button>
          </a>
      </div>
    </div>
  </div>
</div>